.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[An]droid/
[Ii][Oo][Ss]/

.idea/
*.sln.imb.json

publish/
target/

appsettings.Development.json
appsettings.Local.json
*.secrets.json

.cr/
*.db
*.db-shm
*.db-wal

*.log
logs/
TestResults/

.DS_Store
Thumbs.db